* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
}

p, a, button, input, td {
  font-family: 'Open Sans', sans-serif;
  color: #444a52;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

body, #root {
  width: 100%;
}

#body-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
}

#body-area .main-box {
  background-color: white;
  padding: 2.5em;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(197, 165, 165, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(197, 165, 165, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

#body-area .level {
  margin-top: 10px;
}

#sideMenu {
  width: 15%;
  padding: 2.5em;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#282935eb), to(#00a1ffde));
  background: linear-gradient(#282935eb, #00a1ffde);
  position: fixed;
  top: 0;
  left: 0;
  color: #fffffff1;
}

#sideMenu .image {
  margin: 1.5em auto;
}

#sideMenu .title {
  margin: 0.5em 0;
  color: #fffffff5;
  font-weight: 200;
}

#sideMenu .menu {
  margin: 1.5em 0.5em;
}

#sideMenu .menu .menu-label {
  color: #fffffff1;
}

#sideMenu .menu .menu-list li {
  width: 80%;
  margin-left: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sideMenu .menu .menu-list a {
  color: #fffffff1;
  padding: 0.5em 0.2em;
  font-weight: 100;
  letter-spacing: 1px;
}

#sideMenu .menu .menu-list a:hover {
  color: #929292;
  background-color: #f5f5f500;
}

#sideMenu .menu i {
  font-size: 1.1em;
  color: #e4e4e4;
}

#infoPage {
  width: 85%;
  margin-left: 15%;
}

#infoPage .hero-body {
  padding: 1.5rem;
  border-left: 10px solid #192375eb;
  background-color: #f7f7f7;
}

#infoPage .hero-body .title, #infoPage .hero-body .subtitle {
  color: #23282f;
}

#infoPage #modules .module-area {
  width: 95%;
  margin: 0.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

#infoPage #modules .module-area .card {
  width: 20%;
  margin: 1.5em;
}

#infoPage #modules .module-area .card .media {
  margin-bottom: 0;
}

#analytics .level hr {
  height: 3px;
  margin: .2rem 0;
}

#analytics .level #border-one {
  width: 55%;
  border-bottom: 3px solid #0098E0;
}

#analytics .level #border-two {
  width: 40%;
  border-bottom: 3px solid #3C778B;
}

#analytics .level #border-three {
  width: 50%;
  border-bottom: 3px solid #F1DD84;
}

#analytics .level #border-four {
  width: 70%;
  border-bottom: 3px solid #F5B587;
}

#analytics .level #border-five {
  width: 45%;
  border-bottom: 3px solid #F78979;
}

#analytics .level #border-six {
  width: 65%;
  border-bottom: 3px solid #B86377;
}

#analytics .tile #myChart {
  width: 100%;
  height: 100%;
}

#analytics .tile .box {
  border-bottom: 4px solid #3298dc;
}

.small-text {
  font-size: 0.8em;
  color: #0000004a;
  font-weight: 100;
}

.modal .modal-close {
  background: grey;
  position: absolute;
}

.modal .custom-modal {
  width: 60%;
}

.modal .custom-modal .modal-card-body {
  padding: 0;
}

.modal .custom-modal .modal-card-body .image-box {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

.modal .custom-modal .modal-card-body .image-box img {
  width: 100%;
}

.modal .custom-modal .modal-card-body .modal-details {
  padding: 20px;
}

.modal .custom-modal .modal-card-body .modal-details .module-icon {
  font-size: 1.3em;
}

.modal .custom-modal .modal-card-body .modal-details #tab-content section {
  display: none;
}

.modal .custom-modal .modal-card-body .modal-details #tab-content .is-active {
  display: block;
}

.modal .custom-modal .modal-card-body .modal-details #tag-area {
  margin-bottom: 10px;
}

.modal .custom-modal .modal-card-body .modal-details .module-title-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.modal .custom-modal .modal-card-body .modal-details .module-title-tag .tag {
  margin-left: 10px;
}

.modal .custom-modal .modal-card-body .modal-details .box {
  border-bottom: 4px solid #3298dc;
}

.modal .custom-modal .modal-card-body .modal-details .box:not(:last-child) {
  margin-bottom: 0;
  margin-right: 10px;
}

#profile #profile-box {
  width: 95%;
  margin: 0 auto;
}

#profile #profile-box .profile-title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 10px;
}

#profile #profile-box .profile-title-info h2 {
  margin-bottom: 0;
}

#profile #profile-box .profile-title-info .tag:not(body).is-info {
  background-color: #3298dc;
  color: #fff;
  margin-left: 10px;
}

#profile #profile-box .profile-title-info #edit-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

#profile .module-icon {
  font-size: 1.3em;
}

#profile #tab-content section {
  display: none;
}

#profile #tab-content .is-active {
  display: block;
}

#profile #profile-fees {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  width: 100%;
}

#profile #profile-fees .fee-box {
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  padding: 1em;
  text-align: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

#profile #profile-fees .fee-box #euro-symbol {
  font-size: 6.5em;
  margin: 5px 0;
  color: #00d1b2;
}

#profile #profile-fees #fee-payment-box {
  text-align: left;
}

#profile #profile-fees #fee-payment-box h1 {
  margin: 10px 0;
}

#profile #profile-fees #fee-payment-box .material-icons {
  font-size: 1.3em;
}

#profile #profile-fees #fee-payment-box .grouped-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profile #profile-fees #fee-payment-box .grouped-elements .ten-p {
  margin-right: 10px;
}

#login-reg-bg {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

#log-in-reg {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.3em;
  padding-bottom: 1em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(197, 165, 165, 0.21), 0 0 0 1px rgba(10, 10, 10, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(197, 165, 165, 0.21), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

#log-in-reg .title {
  text-align: center;
  margin: 1em auto;
}

#log-in-reg .on-button {
  background-color: #3298dc;
  color: white;
}

#log-in-reg #login-area {
  width: 80%;
  margin: 0 auto;
}

#log-in-reg #register-area {
  width: 80%;
  margin: 0 auto;
}

#log-in-reg i {
  font-size: 1.3em;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00000000;
  padding: 1rem;
  color: #fffffff1;
}
/*# sourceMappingURL=index.css.map */