
$body-colour:#ffffff;
$menu-colour:linear-gradient(#282935eb, #00a1ffde);;
$side-menu-width:15%;
$info-page-width:85%;
$main-box-color: white;
$box-padding:2.5em;
$menu-text-colour:#fffffff1;
$small-text-color:#000000d9;
$euro-symbol-colour:#00d1b2;
$button-bg-color:#3298dc;
$menu-icon-color:#e4e4e4;
$menu-title:#fffffff5;
$big-titles:#23282f;
$big-title-bg:#f7f7f7;
$big-title-border:#192375eb;

$border-one:#0098E0;
$border-two:#3C778B;
$border-three:#F1DD84;
$border-four:#F5B587;
$border-five:#F78979;
$border-six:#B86377;


*{
    margin:0;
    padding:0;
    border:0;
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Abel', sans-serif;
}

p, a, button, input, td{
    font-family: 'Open Sans', sans-serif;
    color:#444a52;
}
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
a{
    text-decoration: none;
}

body, #root{
    width:100%;
}

#body-area{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: $body-colour;

    .main-box{
        background-color: $main-box-color;
        padding:$box-padding;
        box-shadow: 0 0.5em 1em -0.125em rgba(197, 165, 165, 0.1), 0 0 0 1px rgba(10,10,10,.02);
    }

    .level{
        margin-top:10px;
    }
}


#sideMenu{
    width:$side-menu-width;
    padding:$box-padding;
    height: 100vh;
    background: $menu-colour;
    position: fixed;
    top:0;
    left:0;
    // margin: 1em 0 0 1em;
    color:$menu-text-colour;

    .image{
        margin: 1.5em auto;
    }
    .title{
        margin: 0.5em 0;
        color:$menu-title;
        font-weight: 200;

    }

    .menu{
        margin:1.5em 0.5em;

        .menu-label {
            color: $menu-text-colour;
        }

        .menu-list li{
            width: 80%;
            margin-left: 5px;
            display: inline-flex;
            align-items: center;

        }
        .menu-list a {
            color: $menu-text-colour;
            padding: 0.5em 0.2em;
            font-weight: 100;
            letter-spacing: 1px;

            &:hover {
                color:rgb(146, 146, 146);
                background-color: #f5f5f500;
            }
        }

        i{
            font-size: 1.1em;
            color: $menu-icon-color;
        }
    }
}

#infoPage{
    width:$info-page-width;
    margin-left: 15%;


    .hero-body {
        padding: 1.5rem ;
        border-left: 10px solid $big-title-border;
        background-color: $big-title-bg;
        .title, .subtitle{
            color:$big-titles;
        }
    }


    #modules{
        .module-area{
            width:95%;
            margin: 0.5em auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            flex-flow: wrap;

            .card{
                width:20%;
                margin: 1.5em;

                .media{
                    margin-bottom: 0;
                }
            }
        }
    }
}

#analytics{
    .level{
        hr{
            height:3px;
            margin: .2rem 0;
        }

        #border-one{
            width:55%;
            border-bottom: 3px solid $border-one;
        }

        #border-two{
            width:40%;
            border-bottom: 3px solid $border-two;
        }

        #border-three{
            width:50%;
            border-bottom: 3px solid $border-three;
        }

        #border-four{
            width:70%;
            border-bottom: 3px solid $border-four;
        }

        #border-five{
            width:45%;
            border-bottom: 3px solid $border-five;
        }

        #border-six{
            width:65%;
            border-bottom: 3px solid $border-six;
        }
    }

    .tile{
        .box{
            border-bottom: 4px solid $button-bg-color;
        }
    }
}

#myChart{
    width:100%;
    height:100%;
}
.small-text{
    font-size: 0.9em;
    text-transform: uppercase;
    color: $small-text-color;
    font-weight: 100;
}

.card-footer-item{
    cursor: pointer;
}
.modal-close{
    background: grey;
    position: absolute;
}

.custom-modal{
    width: 70%!important;
    margin: auto;
    margin-top: 1em;

    .modal-card-body{
        padding:0;

        .image-box{
            width: 100%;
            height: 170px;
            overflow: hidden;

            img{
                width:100%;
            }
        }

        .modal-details{
            padding: 20px;
            #tag-area{
                margin-bottom: 10px;

                .tag{
                    margin: 0 5px;
                }
            }

            .module-title-tag{
                display: flex;
                align-items: baseline;

                .tag{
                    margin-left: 10px;
                }
            }

            .box{
                border-bottom: 4px solid $button-bg-color;

                &:not(:last-child){
                    margin-bottom: 0;
                    margin-right: 10px;
                }
            }

        }
    }
}


.ReactModal__Content{
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    background: rgba(0, 0, 0, 0.62)!important;
    border:none!important;
    border-radius: none!important;
    overflow: auto;
    outline: none;
    height: 100vh!important;
}

.react-tabs__tab-list{
    display:flex;
    margin: 10px 0;

    .icon{
        margin-right: 5px;
    }
    .module-icon{
        font-size: 1em;
        margin-right: 5px;
    }
    .react-tabs__tab{
        display: flex;
        align-items: center;
        margin-left: 1.7em;
        cursor: pointer;

        &:hover{
            color:$button-bg-color;
            border-bottom: 1px solid $button-bg-color;
        }
    }

    .react-tabs__tab--selected{
        color:$button-bg-color;
        border-bottom: 1px solid $button-bg-color;
    }
}

#profile{
    #profile-box{
        width:95%;
        margin:0 auto;
        .profile-title-info{
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 10px;

            h2{
                margin-bottom: 0;
            }

            .tag{
                &:not(body).is-info {
                    background-color: #3298dc;
                    color: #fff;
                    margin-left: 10px;
                }
            }

            #edit-button{
                position: absolute;
                right:0;
                cursor: pointer;
            }
        }
    }

    .module-icon{
        font-size: 1.3em;
    }

    #tab-content{
        section {
            display: none;
        }
        .is-active {
            display: block;
        }
    }

    #profile-fees{
        display: inline-grid;
        grid-template-columns: 1fr 2fr;
        grid-gap:10px;
        width:100%;

        .fee-box{
            box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
            padding: 1em;
            text-align: center;
            width:100%;
            display:grid;
            #euro-symbol{
                font-size: 6.5em;
                margin: 5px 0;
                color: $euro-symbol-colour;
            }
        }

        #fee-payment-box{
            text-align: left;
            h1{
                margin: 10px 0;
            }
            .material-icons{
                font-size: 1.3em;
            }
            .grouped-elements{
                display: flex;
                .ten-p{
                    margin-right: 10px;
                }
            }
        }
    }
}

#login-reg-bg{
    width:100%;
    height: 100vh;
    background-color: #ffffff;
}

#log-in-reg{
    width: 40%;
    height: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0.3em;
    padding-bottom: 1em;
    border-radius: 10px;
    background-color: white;
    box-shadow:0 0.5em 1em -0.125em rgba(197, 165, 165, 0.21), 0 0 0 1px rgba(10, 10, 10, 0.02);

    .title{
        text-align: center;
        margin: 1em auto;
    }

    .on-button{
        background-color: $button-bg-color;
        color: white;
    }

    #login-area {
        width:80%;
        margin: 0 auto;
    }

    #register-area{
        width:80%;
        margin: 0 auto;
    }

    i{
        font-size: 1.3em;
    }
}
.footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #00000000;
    padding: 1rem;
    color: $menu-text-colour;
}